AIRFLOW_UID=50000
DB_USER="postgres"
DB_PASSWORD="your_secure_host_password"
DB_HOST="host.docker.internal"  # Resolves Windows localhost from inside containers
DB_PORT="5432"
DB_NAME="qcommerce_dw"

# SMTP Alert configurations
SMTP_EMAIL="your_sender_email@gmail.com"
SMTP_PASSWORD="your_smtp_app_password"
ALERT_RECEIVER_EMAIL="your_receiver_email@gmail.com"
